{% extends 'base.html.twig' %}

{% block title %}Créer ToDo{% endblock %}

{% block body %}
    <h1>Créer une tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.status) }}
        {{ form_row(form.dueDate) }}
        {{ form_row(form.assigneeUsername) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <p><a href="{{ path('todo_index') }}">Retour</a></p>
{% endblock %}
